version: "3.8"

services:

  ml-app:
    build: .
    container_name: ml_app_container
    ports:
      - "5000:5000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis

  redis:
    image: redis:alpine
    container_name: redis_container
    ports:
      - "6379:6379"
